# See https://help.github.com/ignore-files/ for more about ignoring files.

# package-lock.json

# env
.env

# dependencies
/node_modules

# testing
/coverage

# production
/build

# miscnpm
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

